.navigationContainer {
  display: flex;
}

.navigateBackButton {
  display: flex;
  font-size: var(--font-size-detail);
  border-radius: 5px;
  padding: 0.6rem 1.6rem;
  margin: 4rem 0 4rem 4rem;
  border: none;
  cursor: pointer;
  outline: none;
}

.navigateBackButton:hover {
  box-shadow: 2px 2px rgb(101, 101, 101);
}

.icon {
  margin-right: 1rem;
  transform: scaleX(1.6);
}

.darkTheme {
  background-color: var(--dark-mode-background);
}

.lightTheme {
  background-color: var(--light-mode-background);
}
